# ======================
# Node / Backend
# ======================
node_modules/
npm-debug.log
package-lock.json

# ======================
# SQLite Databases
# ======================
*.db
*.db-journal
*.sqlite
*.sqlite3

# ======================
# OS Files
# ======================
.DS_Store

# ======================
# Environment files
# ======================
.env
